NODE_ENV=development
SECRET_KEY=
JWT_EXPIRES_IN=7d
PORT=3000
DATABASE_URL=
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
CLIENT_URL=http://localhost:5173
GOOGLE_CLIENT_ID=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.6-flash
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-120b
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
